body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    margin: 20px;
}

h1 {
    color: #003366; /* тёмно-синий */
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background-color: #003366;
    color: white;
    padding: 8px;
    text-align: left;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e9ecef; /* светло-серый */
}

button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0059b3;
}
